@import '../../helpers/styles';

.container {
  height: 10vh;
  width: 100vw;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.box {
  cursor: move;
  border: 2px solid red;
  // height: 200px;
  // width: 200px;
  position: absolute;
}

.profile-title {
  transform: perspective(300px) rotateY(-45deg);
  // position: relative;
  // float: left;
  // margin-left: 30%;
  color: $font-color; // grey;
  // line-height: .5em;
  // padding-top: 5%;
  // animation: rotateX90 8s infinite;
  z-index: 1000;
}
