@import '../../helpers/styles';

.static-links-a {
  padding-top: 15px;
}

.static-links-container {
  background-color: transparent;
  display: grid;
  position: fixed;
  right: 5%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}

.static-links-icon {
  font-size: 1em;
  color: $font-color;
}

.static-links-icon:hover {
  color: $font-color-light;
}
