@import '../../helpers/styles';

.header-container {
  color: red; // $font-color !important;
  background-color: $background-color-less-dark;
  z-index: 1000;
}

Nav {
  color: red;
}

.header-brand {
  color: red;
}
