@import '../../helpers/styles';

.home-page-container {
  height: 100vh;
}
// #letter-g {
//     position: relative;
//     width: 100px;
//     height: 90px;
//     border-width: 20px 0 20px 20px;
//     border-style: solid;
//     border-color: red transparent red red;
//     background-color: transparent;
//     border-radius: 10px;
// }
//
// #letter-g::before {
//     content: "";
//     position: absolute;
//     right: 0;
//     bottom: -10px;
//     width: 15px;
//     height: 35px;
//     border-width: 10px 10px 10px 0;
//     border-color: red;
//     border-style: solid;
//     border-radius: 0 10px 10px 0;
// }

#profile-name {
  position: relative;
  color: $title-color;
  font-size: 100px;
  line-height: 1em;
  padding-top: 30%;
  z-index: 1000;
}

#profile-title {
  position: relative;
  color: $font-color; // grey;
  line-height: .01em;
  z-index: 1000;
}
