// .about-me-container {
//   background-color: #878f99;
//   height: 70vh;
//   width: 50%;
// }

.about-modal {
  // height: 90vh;
  // max-width: 0 !important;
  // // width: 90vw;
  background-color: #878f99;
}

.about-modal-body {
  height: 70vh;
  background-color: #878f99;
}

// .contact-container {
//   background-color: #0099e6;
//   height: 70vh;
//   width: 50%;
// }
