.close-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  font-size: 3em;
  float: right;
}

.close-button:hover {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  color: red;
}

.contact-container {
  background-color: #0099e6;
  height: 70vh;
  // width: 50%;
  text-align: center;
}
